* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
}

footer {
  display: flex;
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-size: 12px;
}

.CV {
  display: flex;
  position: absolute;
  margin: 0 15%;
  background-color: whitesmoke;
  height: 200%;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.55);
  top: 20%;
}

.container {
  display: flex;
  position: absolute;
  margin: 0 15%;
  background-color: whitesmoke;
  height: 100%;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.55);
  top: 20%;
}

.top-container {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(195, 195, 195);
  border-radius: 5px;
}

.top {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  background-color: rgb(195, 195, 195);
  border-radius: 5px;
}
.left-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 10%;
  width: 40%;
  height: 100%;
  border-radius: 5px;
  line-height: 200%;
}

.right-container {
  display: flex;
  position: absolute;
  right: 0;
  top: 10%;
  width: 55%;
  height: 100%;
  border-radius: 5px;
  line-height: 150%;
}

.image {
  display: flex;
  position: absolute;
  height: 90%;
  width: 13.5%;
  left: 5%;
  top: 5%;
  border-radius: 50%;
}

.profile-pic {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(profilbild.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.top-info {
  display: flex;
  position: absolute;
  width: 65%;
  top: 20%;
  right: 0;
  text-align: left;
  flex-direction: column;
}

h3,
p,
ul,
h4,
button {
  margin-left: 2%;
  margin-right: 2%;
}

h3 {
  border-bottom: black solid 2px;
  font-size: 28px;
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 200%;
}

p {
  font-size: 1rem;
}

ul {
  font-size: 1rem;
  margin-left: 6%;
  margin-top: 2%;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: black solid 1px;
}

h4 {
  margin-top: 2%;
}

button {
  cursor: pointer;
}

.link {
  margin-top: 3%;
}

.exp-container {
  margin-top: 2.5%;
}

.technical {
  margin-top: 13%;
}

.experience.exp-hide {
  display: none;
}

.navbar {
  display: flex;
  position: absolute;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 7%;
  width: 20%;
  top: 10%;
}

.links {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.link {
  display: flex;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.form-text {
  margin: 0;
  font-size: 0.8rem;
}

.form-container {
  display: flex;
  position: absolute;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin-top: 5%;
  height: 50%;
  width: 50%;
  top: 20%;
  left: 0;
}

form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input,
.form-container textarea {
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 1%;
}
.form-container textarea {
  height: 10rem;
}

.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

@media (max-width: 431px) and (max-height: 933px) {
  .CV {
    flex-direction: column;
    height: 150%;
    margin: 0 2%;
    left: 10%;
    width: 80%;
    box-shadow: none;
  }

  .container {
    flex-direction: column;
    height: 100%;
    margin: 0 2%;
    left: 10%;
    width: 80%;
    box-shadow: none;
    top: 20%;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  .top-container {
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
  }

  .top {
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
  }

  .left-container,
  .right-container {
    position: relative;
    width: 100%;
    height: auto;
    line-height: 150%;
    margin-right: 2%;
    line-break: normal;
    margin-left: 0;
  }

  .left-container {
    top: 5%;
  }

  .right-container {
    top: 5%;
  }

  .navbar {
    width: 50%;
  }

  .form-container {
    position: relative;
    bottom: 5%;
    width: 80%;
    top: 5%;
  }

  .image {
    position: relative;
    height: 652px;
    width: 50%;
    top: 5%;
    border-radius: 50%;
    margin-left: 20%;
  }
  .top-info {
    position: relative;
    width: 100%;
    top: 20%;
    text-align: center;
  }

  h3,
  .technical {
    line-height: 100%;
    font-size: 1rem;
    margin-top: 5%;
  }
  h4 {
    font-size: 0.8rem;
  }

  p,
  li {
    font-size: 0.7rem;
  }

  .form-container input,
  .form-container textarea {
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    padding: 1%;
  }
}
